<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container pl-0">
        <a class="navbar-brand {% if page.url == node.url %} active{% endif %}" href="{{ '/' | absolute_url }}">{{
            site.title }}</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li> -->
                {% comment %}
                The code below dynamically generates a sidebar nav of pages with
                `layout: page` in the front-matter. See readme for usage.
                {% endcomment %}
                {% assign pages_list = site.pages | sort:"url" %}
                {% for node in pages_list %}
                {% if node.title != null %}
                {% if node.layout == "default" %}
                <li class="nav-item{% if page.url == node.url %} active{% endif %}">
                    <a class="nav-link" href="{{ node.url | absolute_url }}">{{ node.title }}<span
                            class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>