<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container pl-3">
        <div class="">
            <a class="navbar-brand" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                {% comment %}
                The code below dynamically generates a sidebar nav of pages with
                `layout: page-in-nav` in the front-matter. See readme for usage.
                {% endcomment %}
                {% assign pages_list = site.pages | sort:"url" %}
                {% for node in pages_list %}
                {% if node.title != null %}
                {% if node.layout == "page-in-nav" %}
                <li class="nav-item{% if page.url == node.url %} active{% endif %}">
                    <a class="nav-link" href="{{ node.url | absolute_url }}">{{ node.title }}<span
                            class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>